:root {
    --primary: #A66062;
    --secondary:#FAC2C5;
    --background: #F6F5F3;
    --text:#0c0c0f;
    --accent:#9F3448;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
} 

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--background);
    color: #ffffff;
}

/* navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.8rem 7%;
    background-color: var(--background);
    border-bottom: 1px solid #c1c1c1;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}

.navbar .navbar-logo{
    color: var(--primary);
    font-family: "Playfair Display", serif;
    font-size: 2rem;
    font-weight: 700;
}

.navbar .navbar-nav a {
    color: #000000;
    display: inline-block;
    font-size:1.4rem;
    margin: 0 1rem;
}

.navbar .navbar-nav a:hover{
    color: var(--primary);
}

.navbar .navbar-nav a::after{
    content: '';
    display: block;
    padding-bottom: 0.1rem;
    border-bottom: 0.1rem solid var(--primary);
    transform: scaleX(0);
    transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after{
    transform: scaleX(1);
}

.navbar .navbar-extra a {
    color: #000000;
    margin: 0 0.5rem;
    transition: 0.3s;
}

.navbar .navbar-extra a:hover {
    color: var(--primary);
}

/* navbar search form */
.navbar .search-form{
    position: absolute;
    top: 100%;
    right: 7%;
    background-color: white;
    width: 50rem;
    height: 5rem;
    display: flex;
    align-items: center;
    padding: 0 1rem; /* Tambahkan padding */
    transform: scaleY(0);
    transform-origin: top; /* Ubah dari top ke center */
    transition: 0.3s ;
    border-radius: 0.5rem;
    border: none;
}

.navbar .search-form.active {
    transform: scaleY(1);
    border: 1px solid var(--primary);
}

.navbar .search-form input {
    height: 100%;
    width: 100%;
    border: none;
    padding: 1rem;
    font-size: 1.4rem;
    font-family: 'Poppins', sans-serif;
}

.navbar .search-form label {
    cursor: pointer;
    margin-right: 2rem;
    font-size: 1.4rem;
    color: var(--primary);
}

.keranjang {
    position: absolute;
    top: 100%;
    right: -100%;
    width: 35rem;
    height: 100vh;
    padding: 0 1.5rem;
    color: var(--text);
    background-color: var(--primary);
    transition: 0.3s linear;
}

.keranjang.active {
    right: 0;

}

.keranjang .cart-item {
    margin: 2rem 0;
    display: flex;
    align-items: center;
    gap: 1.5rem;
    padding-bottom: 1rem;
    border-bottom: 1px dashed var(--text);
    position: relative;
}

.keranjang img {
    height: 7rem;
    border-radius: 10%;
}

.keranjang .cart-item h3 {
    font-size: 1.6rem;
    color: var(--text);
}

.keranjang .cart-item .item-price {
    font-size: 1.3rem;
}

.keranjang .remove-item {
    position: absolute;
    right: 1rem;
    color: var(--text);
    font-size: 1.4rem;
    cursor: pointer;
    transition: 0.3s;
}

.keranjang .remove-item:hover {
    color: var(--background);
}


#hamburger-menu {
    display: none;
}

/* hero section */
.hero {
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-image: url('../assets/bg-2.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/*.hero::after{
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height:30%;
    
}*/

.hero .content {
    max-width: 57rem;
    padding: 1.4rem 7%;
}

.hero .content h1 {
    font-size: 5rem;
    font-family: "Playfair Display", serif;
    color: var(--primary);
    text-shadow: 1px 1px 3px rgba(167, 167, 167, 0.685);
    line-height: 1.2;
}

.hero .content p {
    font-size: 1.6rem;
    color: var(--text);
    margin-top: 1rem;
    line-height: 1.4;
    font-weight: 300;
    text-shadow: 1px 1px 3px rgba(167, 167, 167, 0.685);
    
}

.hero .content .cta,
.about .row .content .cta-about {
    margin-top: 2rem;
    display: inline-block;
    padding: 1rem 3rem;
    font-size: 1.4rem;
    color: var(--background);
    background-color: var(--accent);
    border-radius: 0.5rem;
    box-shadow: 1px 1px 3px rgba(167, 167, 167, 0.685);
}

/* about section */

.about,
.product,
.contact{
    padding: 7rem 7% 1.4rem;
}

.about h2, .product h2, .contact h2 {
    text-align: center;
    font-size: 2.6rem;
    font-family: "Playfair Display", serif;
    margin-bottom: 3rem;
    color: var(--primary);

}

.about .row {
    display: flex;
}

.about .row .about-img {
    flex: 1 1 35rem;
}

.about .row .about-img img {
    width: 100%;
    border-radius: 10%;
}

.about .row .content {
    flex: 1 1 70rem;
    padding: 0 5rem;
}

.about .row .content h3 {
    margin-bottom: 1rem;
    font-size: 1.8rem;
    font-family: "Playfair Display", serif;
    color: var(--primary);
}

.about .row .content p {
    margin-bottom: 0.8rem;
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 1.6;
    color: var(--text);
}


.product p,
.contact p {
    text-align: center;
    max-width: 30rem;
    margin: auto;
    font-weight: 300;
    font-size: 1.4rem;
    color: var(--text);
    line-height: 1.6;
}

.product .row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    margin-top: 5rem;
}

.product .row .product-card {
    text-align: center;
    margin-top: 2rem ;
    padding: 2rem;

}

.product .row .product-card .product-card-img {
    
    border-radius: 10%;
    width: 100%;
}

.product .row .product-card .product-description .product-card-title {
    font-size: 1.8rem;
    margin-top: 1.5rem  0.5rem;
    color: var(--primary);
}

.product .row .product-card .product-description .product-card-price {
    margin: 0.5rem auto 1rem;
    font-weight: 700;
    font-size: 1.4rem;
    color: var(--text);
}

.product .row .product-card .product-card-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    color: var(--text);
    gap: 0.8rem;
}
.product .row .product-card .product-card-icon a {
    color: var(--text);
    font-size: 2rem;
    padding: 0.5rem;
    transition: 0.3s;
}

.product .row .product-card .product-card-icon .cart,
.product .row .product-card .product-card-icon .eye
.product .row .product-card .product-card-icon .like{
    transition: 0.3s;
}

.product .row .product-card .product-card-icon .cart:hover,
.product .row .product-card .product-card-icon .eye:hover {
    color: var(--primary);
}

.product .row .product-card .product-card-icon .like:hover {
    color: palevioletred;
    fill: palevioletred;
}
/* contact section*/
.contact .row {
    display: flex;
    margin-top: 2rem;
    background-color: var(--background);
    
}

.contact .row .map {
    flex: 1 1 35rem;
    width: 100%;
    object-fit: cover;
}

.contact .row form {
    flex: 1 1 35rem;
    padding: 5rem 2rem;
    text-align: center;
    color: var(--text);
    background-color: antiquewhite
}

.contact .row form .input-group {
    display: flex;
    align-items: center;
    margin-top: 2rem;
    background-color: var(--background);
    border: 1px solid var(--background);
    padding-left: 1.4rem;
}

.contact .row form .input-group .input-group-field {
    width: 100%;
    font-family: 'Poppins', sans-serif;
    padding: 1.4rem;
    font-size: 1.4rem;
    background: var(--background);
}

.contact .row form .input-group .input-group-area {
    width: 100%;
    font-family: 'Poppins', sans-serif;
    padding: 1.4rem 0;
    font-size: 1.4rem;
    height: 150px;
    resize: none;
    background: var(--background);
}

.contact .row form .btn {
    margin-top: 3rem;
    display: inline-block;
    padding: 1rem 3rem;
    font-size: 1.7rem;
    color: var(--background);
    background-color: var(--accent);
    cursor: pointer;
    border-radius: 0.5rem;
}

/* footer */
footer {
    background-color: var(--primary);
    text-align: center;
    padding: 1rem 0;
    margin-top: 3rem;
}

footer .socials {
    padding: 1rem 0;
}

footer .socials a {
    color: var(--background);
    margin: 1rem;
}

footer .socials a:hover, 
footer .links a:hover,
footer .credit a:hover {
    color: var(--text);
}

footer .links {
    margin-bottom: 1.4rem;
}


footer .links a {
    color: var(--background);
    padding: 0.7rem 1rem;
}

footer .credit a{
    color: var(--background);
}

/* modal box */
.modal-box {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.modal-box .modal-container {
    position: relative;
    background-color: var(--background);
    padding: 2rem;
    border-radius: 0.5rem;
    width: 50%;
    text-align: center;
    animation: modal-show 0.5s ease-in-out;
}

.modal-box.hide .modal-container {
    animation: modal-hide 0.3s ease-in-out;
}

.modal-box .modal-container .close-modal {
    position: absolute;
    top: 1rem;
    right: 1rem;
    color: var(--text);
    cursor: pointer;
    transition: 0.3s;
}

.modal-box .modal-container .close-modal:hover {
    color: var(--primary);
}

.modal-box .modal-container img {
    width: 45%;
    border-radius: 5%;
}

.modal-box .modal-container .modal-product {
    font-size: 1.2rem;
    flex-wrap: wrap;
    font-family: "Poppins", sans-serif;
    color: var(--text);
}

.modal-box .modal-container .modal-product .modal-price {
    font-size: 2rem;
    font-weight: 700;
    margin: 1rem 0;
    color: var(--text);
}

.modal-box .modal-container .modal-product a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 3rem;
    font-size: 1.4rem;
    gap: 1rem;
    color: var(--background);
    background-color: var(--accent);
    border-radius: 0.5rem;
    margin-top: 2rem;
}

.modal-box .modal-container .modal-product a i {
    font-size: 1.6rem;
}

/* modal animation */
@keyframes modal-show {
    from {
        transform: translateY(50px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes modal-hide {
    from {
        transform: translateY(0);
        opacity: 1;
    }
    to {
        transform: translateY(50px);
        opacity: 0;
    }
}

/* media queries */
/* laptop */
@media (max-width: 1366px) {
    html {
        font-size: 75%;
    }
}

/* tablet */
@media (max-width: 758px) {
    html {
        font-size: 62.5%;
    }

    #hamburger-menu {
        display: inline-block;
    }

    .navbar .navbar-nav {
        position: absolute;
        top: 100%;
        right: -100%;
        background-color: var(--primary);
        width: 30rem;
        height: 100vh;
        transition: 0.3s linear;
    }

    .navbar .navbar-nav.active {
        right: 0;
    }

    .navbar .navbar-nav a {
        color:var(--text);
        display: block;
        margin: 1.5rem;
        padding: 0.5rem;
        font-size: 2rem;
    }

    .navbar .navbar-nav a:hover {
        border-bottom: 0.1rem solid var(--background);
        color: var(--background);
        transition: 0.2s linear;
    } 

    .navbar.navbar-nav a::after {
        transform-origin: 0 0;
    }
    
    .navbar.navbar-nav a:hover::after {
    transform: scaleX();
    }

    .navbar .search-form{
        width: 90%;
        right: 2rem;
    }
    .hero .content {
        max-width: 44rem;
        padding: 1.4rem 7%;
    }

    .about .row {
        flex-wrap: wrap;
    }
    
    .about .row .about-img img {
        height: 24rem;
        object-fit: cover;
        object-position: center;
    }

    .about .row .content p {
        font-size: 1.6rem;
    }

    .product p {
        font-size: 1.6rem;
    }

    .contact .row {
        flex-wrap: wrap;
    }
    
    .contact .row .map{
        height: 30rem;
    }

    .contact .row form{
        padding-top: 0rem;
    }
}

/* mobile */
@media (max-width: 450px) {
    html {
        font-size: 55%;
    }

    .hero .content {
        max-width: 27rem;
        padding: 1.4rem 7%;
    }

}